crytic-compile==0.1.8
cytoolz==0.10.1
eth-hash==0.2.0
eth-typing==2.2.1
eth-utils==1.9.0
future==0.18.2
manticore==0.3.4
ply==3.11
prettytable==0.7.2
pyevmasm==0.2.3
pysha3==1.0.2
PyYAML==5.3.1
rlp==1.2.0
toolz==0.10.0
wasm==1.2
z3-solver==4.8.8.0
